<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Add State</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1 style="text-align: center;">Add Your State</h1>-->
<!--    <form style="text-align: center" method="post" enctype="multipart/form-data">-->
<!--        {% csrf_token %}-->
<!--            <label for="state">State Name : </label>-->
<!--            <input type="text" id="state" name="state"  required><br><br>-->
<!--            <button type="submit">Submit</button>-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->